{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <script>
        function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i, j, visible;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    visible = false;
    /* Obtenemos todas las celdas de la fila, no sólo la primera */
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
        visible = true;
      }
    }
    if (visible === true) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}
    </script>
    
    
    <div class="container" >
        <section class="content-section" id="portfolio">
            <h2>Controlar Contratos</h2>
            <!-- {% if msn %}
            <h3 style="color: red;">{{msn}}</h3>
            {% endif %} -->
            <form method="POST"> 
            {% csrf_token %}
            <div class="row">
                <div class="col">    
                    <label for="id_id_usuario">Proveedor:</label>
                    <select name="id_usuario" required id="id_id_usuario" class="form-control" readonly="readonly">
                        {% for g in proveedor %}
                        <option id="id_id_usuario" value="{{ g.pk }}">{{ g.nombres }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="id_fecha_inicio">Fecha Inicio:</label>
                    <input type="date" name="fecha_inicio" required id="id_fecha_inicio" class="form-control">
                </div> 
                <div class="col">
                    <label for="id_fecha_termino">Fecha Termino:</label>
                    <input type="date" name="fecha_termino" required id="id_fecha_termino" class="form-control">
                </div> 
                <div class="col">
                    <button type="submit" style="margin-top: 30px;" class="btn btn-primary">Guardar</button>
                </div>
            </div>    
            </form>
        </section>  
                <h2>Contratos</h2>
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Filtrar...">
                     
                    

                <table id="myTable"class="table table-resposive-lg table table-striped table-hover">
                        <!-- <thead class="thead-light"> -->
                            <tr>
                                
                                <th>NOMBRE</th>
                                <th>FECHA INICIO CONTRATO</th>
                                <th>FECHA FIN CONTRATO</th>

                            </tr>
                            
                        <!-- </thead>  -->
                        
                        {% for a in contratos %}
                        
                            <tr>
                                
                                <td>{{a.id_usuario}}</td>
                                <td>{{a.fecha_inicio}}</td>	
                                <td>{{a.fecha_termino}}</td>

                            </tr> 
                        {% endfor %}
                            						
                    </table>
                    <!-- {% if messages %}
                    {% for m in messages %}
                    <div>{{m}}</div>
                    {% endfor %}
                    {% endif %} -->
                </section>	      
                             
    </div>

    {% endblock content %}
</body>

</html>

<script>



$(function(){
	var $tabla = $('#tabla');
	
	$('#selectCategory').change(function(){
		var value = $(this).val();
		if (value){
			$('tbody tr.' + value, $tabla).show();
			$('tbody tr:not(.' + value + ')', $tabla).hide();
		}
		else{
			// Se ha seleccionado All
			$('tbody tr', $tabla).show();
		}
	});
});

</script>