{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
    <link rel="stylesheet" href="{% static 'css/estilocarros.css' %}">

   
    <title>Feria Virtual</title>
</head>

<body>

    
    <header>
        <div class="container">
            <h1 class="text-center">Carrito Feria Virtual</h1>
            <hr>
        </div>
    </header>
    <!-- START SECTION STORE -->
    <section class="store">
        <div class="container">
            <div class="items">
                <div class="row">

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Berries</h3>
                            <img class="item-image" src="../static/img/frutas/berries.jpg">

                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Cereza</h3>
                            <img class="item-image" src="../static/img/frutas/cereza.jpg">

                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Chirimoya</h3>
                            <img class="item-image" src="../static/img/frutas/chirimoya.jpg">

                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Ciruela</h3>
                            <img class="item-image" src="../static/img/frutas/ciruela.jpg">

                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Durazno</h3>
                            <img class="item-image" src="../static/img/frutas/duraznos.jpg">

                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">kiwi</h3>
                            <img class="item-image" src="../static/img/frutas//kiwi.jpg">

                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Mandarina</h3>
                            <img class="item-image" src="../static/img/frutas/mandarinas.jpg">

                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Manzana Roja</h3>
                            <img class="item-image" src="../static/img/frutas/manzanar.jpg">

                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Manzana Verde</h3>

                            <img class="item-image" src="../static/img/frutas/manzanav.jpg">
                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Naranja</h3>

                            <img class="item-image" src="../static/img/frutas/naranjas.jpg">
                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Palta</h3>

                            <img class="item-image" src="../static/img/frutas/palta.jpg">
                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Pera</h3>

                            <img class="item-image" src="../static/img/frutas/pera.jpg">
                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Sandia</h3>

                            <img class="item-image" src="../static/img/frutas/sandia.jpg">
                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Uva Morada</h3>

                            <img class="item-image" src="../static/img/frutas/uvmorada.jpg">
                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-6">
                        <div class="item shadow mb-4">
                            <h3 class="item-title">Uva Verde</h3>

                            <img class="item-image" src="../static/img/frutas/uvverde.jpg">
                            <div class="item-details">
                                <h4 class="item-price">1€</h4>
                                <button class="item-button btn btn-primary addToCart">AÑADIR AL CARRITO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION STORE -->
    <!-- START SECTION SHOPPING CART -->
    <section class="shopping-cart">
        <div class="container">
            <h1 class="text-center">CARRITO</h1>
            <hr>

            <form action="/feriacarro/" method="POST">
                {% csrf_token %}
            <div class="form-group row">
                <label for="cliente" class="col-12 col-md-2 col-form-label h2">Cliente :</label>
                <div class="col-12 col-md-10">
                    <input type="text" class="form-control" id="cliente"
                    value="{{ user.username }}"  readonly="readonly" name="cliente">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-12 col-md-2 col-form-label h2">Correo :</label>
                <div class="col-12 col-md-10">
                    <input type="text" class="form-control" id="correo" readonly="readonly" value="{{user.email}}" name="correo">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-12 col-md-2 col-form-label h2">Pedido :</label>
                <div class="col-12 col-md-10">
                    <textarea type="text" class="form-control" id="pedido" name="pedido" rows="15" cols="20">Escriba en detalle su pedido</textarea>   
                </div>
            </div>
            <input type="submit" value="Enviar">
             </form>

            <div class="row">
                <div class="col-6">
                    <div class="shopping-cart-header">
                        <h6>Producto</h6>
                    </div>
                </div>
                <div class="col-2">
                    <div class="shopping-cart-header">
                        <h6 class="text-truncate">Precio</h6>
                    </div>
                </div>
                <div class="col-4">
                    <div class="shopping-cart-header">
                        <h6>Cantidad</h6>
                    </div>
                </div>
            </div>
            <!-- ? START SHOPPING CART ITEMS -->
            <div class="shopping-cart-items shoppingCartItemsContainer">
            </div>
            <!-- ? END SHOPPING CART ITEMS -->


            <!-- START TOTAL -->
            <div class="row">
                <div class="col-12">
                    <div class="shopping-cart-total d-flex align-items-center">
                        <p class="mb-0">Total</p>
                        <p class="ml-4 mb-0 shoppingCartTotal">0€</p>
                        <div class="toast ml-auto bg-info" role="alert" aria-live="assertive" aria-atomic="true"
                            data-delay="2000">
                            <div class="toast-header">
                                <span>✅</span>
                                <strong class="mr-auto ml-1 text-secondary">Elemento en el carrito</strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="toast-body text-white">
                                Se aumentó correctamente la cantidad
                            </div>
                        </div>
                        <form id="procesar-pago" action="#" method="POST">
                            {% csrf_token %}
                        <button class="btn btn-success ml-auto comprarButton" type="submit" name="realizapedido" data-toggle="modal"
                            data-target="#comprarModal">Realizar Pedido</button>
                        </form>
                        </div>
                </div>
            </div>

            <!-- END TOTAL -->

            <!-- START MODAL COMPRA -->
            <div class="modal fade" id="comprarModal" tabindex="-1" aria-labelledby="comprarModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="comprarModalLabel">Gracias por realizar su compra</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Pronto recibirá su pedido</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MODAL COMPRA -->


        </div>

    </section>
    <!-- END SECTION SHOPPING CART -->


    <!-- START FOOTER -->
    <footer class="bg-dark p-3 mt-5">
        <p class="text-center m-0 text-muted">Feria Virtual Frutas de Primera Calidad</p>
    </footer>
    <!-- END FOOTER -->




    <!-- SCRIPTS -->
    <script src="//code.jquery.com/jquery-3.5.1.slim.min.js"  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="../static/js/tienda.js"></script>



    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>

    
</body>

</html>