{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="container" >
        <section class="content-section" id="portfolio">
            <form method="POST">
            <h2>Actualizar monto de saldo</h2>
            {% csrf_token %}                
            <!-- Modificar, se agrega value para traer los datos-->
            <input type="hidden" name="id_saldos" id="id_id_saldos" value="{{ saldo.id_saldos }}">

            <div class="row">
                <div class="col">
                    <label for="id_montos_saldos">Saldos:</label>
                    <input type="text" name="montos_saldos"  class="form-control" required id="id_montos_saldos" value="{{ saldo.montos_saldos }}">
                </div>   
                <div class="col">
                    <button type="submit" style="margin-top: 30px;" class="btn btn-primary">Actualizar</button>
                </div>                
            </div>   
            
            </form>
        </section>         
    </div>

    {% endblock content %}
</body>
</html>