{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <div class="container" >
              <h2> HACER MODULO DE CLIENTE INTERNO </h2>

        <form>
            <label for="IngresarPedido">Ingresar pedido:</label><br>
            <input type="text" id="IngresarPedido" name="IngresarPedido"><br>
            <label for="IngresarNose">Ingresar Nose:</label><br>
            <input type="text" id="IngresarNose" name="IngresarNose"><br><br>


            <input type="submit" value="Submit">
        </form> 

    </div>

    
</body>
</html>