@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {    
    font-family: 'Open Sans', sans-serif;
    background-image:url("../img/fondofruta.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 50px;
    background: #40FF00;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;   
}

.contenedor {
    width: 98%;
    min-width: 250px;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor{
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
     
}

#bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    background: #40FF00;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
    background:  #ffffff; /*blanco*/
}

.sociales a {
    color: #333;
    text-decoration: none;
}

.socialess {
    width: 100%;
    text-align: center;
    font-size: 28px;
    background:  #ffffff; /*blanco*/
}

.socialess a {
    color: #333;
    text-decoration: none;
}

@media (min-width:768px) {
    .socialess {
        width: auto;
    }
    footer .contenedor {
        justify-content: space-between;
    }
}

@media (min-width:768px) {
    .sociales {
        width: auto;
    }
    footer .contenedor {
        justify-content: space-between;
    }
}

@media (min-width:1024px) {
    .contenedor {
        width:1250px;
    }
}



.col{
    width: 45%;
    float:left;
    margin-left: 10px;
    padding-left: 20px;
}

.img{
    width: 100%;
    height: 100%;
    height: 5px;
    background-color: black;
    margin: 0 auto;
}

.col p{
    padding-top: 10px;
    text-align: justify;
}

.foto {
    width: 100%;
    max-width: 280px;
    display: block;
    margin: auto;
}

form{
    margin: auto;
    width: 50%;

    width: 680px;
    height: 500px;
    background:  #ffffff; /*blanco*/
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}

input{
    /* display: block; 
    padding: 10px;
    width: 100%; */
    margin: 15px 0;
    font-size: 20px;
}

input[type="submit"] {
    background: linear-gradient(#ffda63, #ffb940);
    border: 0;
    color: brown;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}

.generalcliente{
    flex: 1;
    min-width: 250px;
    margin: auto;
    margin-top: 50px;
    width: 960px;
    height: 600px;
    background-color: #81b765;

}

.lineaverde{
    float: left;
    width: 50px;
    height: 600px;
    background-color: #81b765;
}

.linita{
    float: left;
    width: 208px;
    height: 600px;
    background-color: #ffffff; /*blanco*/
}

.listap{
    float: right;
    width: 700px;
    height: 600px;
    background-color:  #ffffff; /*blanco*/
}

.infoadi{
    margin-top: 10px;
    float: right;
    width: 700px;
    height: 190px;
    background-color: #ffffff; /*blanco*/
}

.opcional{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    float: center;
    width: 620px;
    height: 100px;
    background-color:  #ffffff;   /*blanco*/
}

textarea {
    resize: none;
}


.botonn {
border: 1px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #2e518b; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 50px; /*bordes redondos*/
}


.contenedor-inputs{
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.btn-enviar{
    background: green;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
}

.btn-enviar:active{
    transform: scale(1.5);
}
select{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border:1px solid gray;
}

.container_table{
    width: 90%;
    background: white;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}

.table_title{
    grid-column-start: 1;
    grid-column-end: 4;
    background: #81b765;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
}

.table_header, .table_item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_header{
    font-weight: bold;
    font-size: 15px;
}

.table_item{
    padding: 5px;
    font-size: 10px;
}

.container_menu{
    background: white;
    padding: 5px;
    overflow: hidden;
}

.listas{
    margin: 5px;
    padding: 5px;
    color: black;
    float: left;
}



.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #e8efdb;      /* verde claro*/
    transition: all 0.5s;
    transform: translateX(-100%); 
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu a:hover{
    background: #81b765;;
}


#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px){
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a {
        border:none;
    }
    
    header label {
        display: none;
    }
}

.titulillo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
}

.estadio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}

/*    tabla de mantenedor productores */
.container_tableproductor{
    width: 90%;
    height: 550px;
    background: white;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
    overflow-y: scroll;
}

.table_titleproductor{
    grid-column-start: 1;
    grid-column-end: 9;
    background: #81b765;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.table_headerproductor, .table_itemproductor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_headerproductor{
    font-weight: bold;
    font-size: 10px;
}

.table_itemproductor{
    padding: 5px;
    font-size: 10px;
}

/* tabla mantenedor clientes externos */

.container_tableclienteexterno{
    width: 90%;
    background: white;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}

.table_titleclienteexterno{
    grid-column-start: 1;
    grid-column-end: 9;
    background: #81b765;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.table_headerclienteexterno, .table_itemclienteexterno{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_headerclienteexterno{
    font-weight: bold;
    font-size: 10px;
}

.table_itemclienteexterno{
    padding: 5px;
    font-size: 10px;
}


/* tabla mantenedor contratos */

.container_tablecontratos{
    width: 90%;
    background: white;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}

.table_titlecontratos{
    grid-column-start: 1;
    grid-column-end: 8;
    background: #81b765;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

.table_headercontratos, .table_itemcontratos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_headercontratos{
    font-weight: bold;
    font-size: 10px;
}

.table_itemcontratos{
    padding: 5px;
    font-size: 10px;
}